<%= form_with(model: @category, local: true) do |f| %>
<h1 class="texr-center">Add Categories</h1>
    <div class="signup w-50 mx-auto">
        <div class="mb-3">
            <%= f.text_field :title, class: "form-control"%>
        </div>
        <div class="mb-3">
            <%= f.text_area :description, class: "form-control"%>
        </div>
        <%= f.submit btn_msg, class: "btn btn-block btn-success"%>
    </div>
<% end %>